
$primary: #255CB6;
$secondary: #F5BF42;

$body-bg: $primary;
$body-color: white;

$font-family-base: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 800;
$headings-color: $secondary;

$link-color: $secondary;
